<p>Expansion: {{model.expansion}}</p>
<p>Period: {{model.period}}</p>
<p>Name: {{model.name}}</p>
<p>Type: {{model.type}}</p>
<p>Components: {{model.components}}</p>
<p>Tab: {{model.tab}}</p>
<p>Health: {{model.health}}</p>
<p>Hunger: {{model.hunger}}</p>
<p>Sanity: {{model.sanity}}</p>
<p>Damage: {{model.damage}}</p>
<p>Durability: {{model.durability}}</p>
<p>Notes: {{model.notes}}</p>
{{outlet}}
