Recipe for {{model.Name}}...

<ul>
  <li>Expansion: {{model.Exp}}</li>
  <li>Effect: {{model.Effect}}</li>
  <li>Health: {{model.Health}}</li>
  <li>Hunger: {{model.Hunger}}</li>
  <li>Sanity: {{model.Sanity}}</li>
  <li>Spoil time: {{model.Spoil}}</li>
  <li>Cook time: {{model.Cook}}</li>
  <li>Recipe: {{model.Recipe}}</li>
</ul>
{{model.Name}} {{model.Health}}
<hr>
